<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{nomeTab}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-searchbar placeholder="Buscar" (ionChange)="buscar($event)"></ion-searchbar>
  </ion-toolbar>

  <ion-list>

    <ion-item-sliding *ngFor="let filme of listaDeFilmes">

      <ion-item>

        <ion-thumbnail slot="start">
          <img [src]="filme.imagem">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <p>{{filme.nome}}</p>
            <p>{{filme.lancamento}} - {{filme.duracao}}</p>
            <ion-badge color="light" *ngFor="let genero of filme.generos">
              {{genero}}
            </ion-badge>
          </div>
        </ion-label>

        <ion-chip outline="" color="success">
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">{{filme.avaliacao}}</ion-label>
        </ion-chip>

      </ion-item>

      <ion-item-options side="end">

        <ion-item-option color="light" (click)="presentAlertCheckbox()">
          <ion-icon name="star-outline" color="warning"></ion-icon>
        </ion-item-option>

        <ion-item-option color="light" (click)="Curtir()">
          <ion-icon name="thumbs-up-outline" color="warning"></ion-icon>
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
